django==1.11.8
django-bootstrap3
PyMySQL
django-bootstrap
requests
python-ldap
python-dateutil
tabulate
ipaddress
six==1.10.0
python-novaclient
python-neutronclient
python-glanceclient
python-keystoneclient
APScheduler
keystoneauth1
cryptography==1.9
paramiko==2.2.1
pywinrm