{% extends "serviceonline_base_template.html" %}
{% block body %}
{% load static %}
<head>
    <title>Hypervisor Admin Login </title>
</head>

<script src="{% static 'assets/js/common_utility.js' %}"></script>

<h3 align="center">Admin Login</h3>

<ul class="breadcrumb">
    {% if button_name and button_name == "Load Projects" or button_name == "Save"%}
    <li><a href="{% url 'hypervisor_preference' %}">Hypervisors</a></li>
    {% elif redirect %}
    <li><a href="">Users Information</a></li>
    <li><a href=""> Add/Remove Hypervisor</a></li>
    <li>Add/Remove user</li>
    {% else %}
    <li><a href="{% url 'hypervisor_management' %}">Hypervisor Management</a></li>
    {% endif %}
    <li>Login</li>
</ul>

<div align="left">
    {% if message %}
    <div align="center" class="alert alert-success fade in" style="width:350px;">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p>{{message}}</p>
    </div>
    {% endif %}
    {% if error_message %}
    <div id="success-alert" align="center" class="alert alert-danger fade in" style="width:350px;">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p>{{error_message}}</p>
    </div>
    {% endif %}
</div>

<div>
    <form name="login_form" class="form-auth-small"
          action="{% if domain %}{% url 'load_projects' %}{% else %}{% url 'load_hosts' %}{% endif %}"
          method="POST" onsubmit="return check_password()">
        {% csrf_token %}
        <table width="300px" class="table table-hover" align="center">
            {% if domain %}
            <tr>
                <td>
                    Domain
                </td>
                <td>
                    <input class="form-control form-controlcss" type="text" id="domain" name="domain" value="{{domain}}"
                           placeholder="enter domain" required {% if domain %} readonly {% endif %}>
                </td>
                 <td></td>
            </tr>
            {% else %}
            <tr>
                <td>
                    Host
                </td>
                <td>
                    <input class="form-control form-controlcss" type="text" id="host" name="host" value="{{request.session.selected_hypervisor}}" >
                </td>
                 <td></td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input class="form-control form-controlcss" type="text" id="username" name="username" value="{{username}}"
                           placeholder="enter username" required {% if username %} readonly {% endif %}>
                </td>
                 <td></td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input class="form-control form-controlcss" type="password" id="password" name="password" value="{{password}}"
                           placeholder="enter password" required {% if password %} readonly {% endif %}>
                </td>
                 <td></td>
            </tr>
            {% if create_hypervisor_user %}
            <tr>
                <td>
                    User's Hypervisor Password
                </td>
                <td>
                    <input class="form-control form-controlcss" type="password" id="user_new_password"
                           name="user_new_password"  placeholder="User's Hypervisor Password"
                            onkeyup="CheckPasswordStrength(this.value)" required>
                </td>
                <td><span id="password_strength"></span></td>
            </tr>
            <tr>
                <td>
                    Re-enter User's Hypervisor Password
                </td>
                <td>
                    <input class="form-control form-controlcss" type="password" id="user_repeat_password"
                           name="user_repeat_password"
                           placeholder="Re-enter User's Hypervisor Password" required>
                </td>
                 <td></td>
            </tr>
            {% endif %}
            {% if request.session.hypervisor_preference_projects %}
                <tr>
                    <td>
                        Project
                    </td>
                    <td>
                        <select name="selected_project">
                            {% for project in request.session.hypervisor_preference_projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endif %}

        </table>
        {% if button_name %}
        <div align="center">
            <button type="submit" class="btn btn-primary" >{{button_name}}</button>
        </div>
        {% else %}
        <div align="center">
            <button type="submit" style="margin-bottom: 80px;" class="btn btn-primary"  >Login</button>
        </div>
         {% endif %}
    </form>
</div>
{% endblock %}

