{% extends "serviceonline_base_template.html" %}
{% load static %}
{% block body %}

<style>
    .table-hover tbody tr:hover td {
    background: #e4e4e4;
}
.table{
width:70% !important;
}
tbody{
background-color: rgba(245, 245, 245, 0.36) !important;
}

.form-controlcss{
width: 60% !Important;
}


</style>

<script src="{% static 'assets/js/common_utility.js' %}"></script>

<div class="container col-md-12"><h3 align="center">Create User</h3><br/><br/>
    <ul class="breadcrumb">
        <li><a href="{% url 'sol_users' %}">Users Information</a></li>
        <li>Create AD User</li>
    </ul>

    <form name="create_user" method="post" action="{% url 'create_user'%}" onsubmit="return check_password()">
        {% csrf_token %}
        <div align="center">
            {% if message %}
            <div align="center" class="alert alert-success fade in" style="width:350px;">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p>{{message}}</p>
            </div>
            {% endif %}
            {% if error_message %}
            <div id="success-alert" align="center" class="alert alert-danger fade in" style="width:350px;">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p>{{error_message}}</p>
            </div>
            {% endif %}
        </div>

        <table width="300px" class="table table-hover" align="center">
            <tr>
                <td><label>GS ID : </label></td>
                <td><input class="form-control form-controlcss" type="text" placeholder="Enter ID" name="id" required>
                </td>
                <td></td>
            </tr>

            <tr>
                <td><label>Password: </label></td>
                <td><input class="form-control form-controlcss" type="password" name="new_password"
                           placeholder="Enter New Password" onkeyup="CheckPasswordStrength(this.value)" required></td>
                <td><span id="password_strength"></span></td>
            </tr>
            <tr>
                <td><label>Confirm Password : </label></td>
                <td><input class="form-control form-controlcss" type="password" name="confirm_password"
                           placeholder="Enter Confirm Password" required></td>
                <td></td>
            </tr>


        </table>
        <div align="center">
            <button class="btn btn-primary" style="margin-bottom: 80px;" type="submit">Create user</button>
        </div>
    </form>
</div>

{% endblock %}