{% extends "serviceonline_base_template.html" %}

<style>
		#button1 {
		    left: 300px;
		    top: 500px;
		}

    	.table-hover tbody tr:hover td {
    		background: #e4e4e4;
		}

</style>


{% block body %}

<body>


<div class="container col-md-12"><h3 align="center">Server Information</h3>

    <ul class="breadcrumb">
        {% if modify %}
         <li><a href="{% url 'instance_request'%}">Server Requests</a></li>
         <li>Modify Instance</li>
        {% elif extend %}
         <li><a href="{% url 'manage_instances'%}">Instance Management</a></li>
         <li><a href="{% url 'extend_expiry'%}">Extend Expiry</a></li>
         <li>Instance Validity Extend</li>
        {% else %}
        <li><a href="{% url 'manage_instances'%}">Instance Management</a></li>
        <li>Create Instance</li>
        {% endif %}
    </ul>

    <form name="create_server_form" method="POST" action="{% url 'instance_request' %}" align="left">
        {% if modify %}
        <input type="hidden" name="modify" value="True"/>
        {% endif %}
        {% if extend %}
        <input type="hidden" name="extend" value="True"/>
        {% endif %}
        <table class="table table-hover" align="left">

            <input type="hidden" name="request_id" value="{{ instance.instance_id }}">
            {% csrf_token %}
            <tbody>
            <tr>
                <td><label>Instance Name : </label></td>
                <td><input class="form-control" type="text" placeholder="Enter instance name" name="server_name"
                           id="server_name" value="{% if instance.instance_name %}{{instance.instance_name}}{% else %}{{instance.name}}{%endif%}" size="10" required {% if extend or modify %} readonly
                           {% endif %}/></td>
            </tr>
            {% if not extend %}
            <tr>
                <td><label>Image : </label></td>
                <td><select name="image">
                    {% for image in request.session.images %}
                    <option value="{{ image.image_id }}"
                            {% if instance.image.image_id == image.image_id %}
                            selected
                            {% endif %}
                    >{{ image.image_name }}
                    </option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td><label>Flavor : </label></td>
                <td><select name="flavor">
                    {% for flavor in request.session.flavors %}
                    <option value="{{ flavor.flavor_id }}"
                            {% if instance.flavor.flavor_id == flavor.flavor_id %}
                            selected
                            {% endif %}
                    >{{ flavor.flavor_name }}
                    </option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td><label>Network : </label></td>
                <td><select name="network">
                    {% for network in request.session.networks %}
                    <option value="{{ network.network_id }}"
                            {% if instance.network.network_id == network.network_id %}
                            selected
                            {% endif %}
                    >{{ network.network_name }}
                    </option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td><label>Date Of Expiry : </label></td>
                <td>
                    <input class="form-control" type="text" placeholder="YYYY-MM-DD" name="date"
                           value="{{ instance.doe }}" date-date-format="YYYY-MM-DD" id="datepicker" size="10" required/>
                </td>
            </tr>
            </br>

            </tbody>
        </table>
        <div align="center">
            <button align="center" style="margin-bottom: 80px;" id="submit_button" type="submit" class="btn btn-primary">{{button_name}}
            </button>
        </div>
    </form>


</div>


</body>

<script >
var dateToday = new Date();
var dates = $("#datepicker").datepicker({
    defaultDate: "+1w",
       dateFormat: 'yy-mm-dd',
    minDate: dateToday
});
</script>
{% endblock %}



