{% extends "serviceonline_base_template.html" %}
{% block body %}
<br><br>
{% load static %}
<head>
    <style>
        #mytable_length,
        #mytable_info{
            float:left;
            margin-left:5px;
        }

        #mytable_filter,
        #mytable_paginate{
            float:right;
            margin-right:5px;
        }

    </style>
</head>
<h3 align="center">Instance Management</h3>


<div class="row">
<div class="col-md-6">

    <div id="server_display" align="center">


    <div align="left">
    {% if message %}
        <div align="center" class="alert alert-success fade in" style="width:350px;">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>{{message}}</p>
        </div>
    {% endif %}
    {% if error_message %}
        <div id="success-alert" align="center" class="alert alert-danger fade in" style="width:350px;">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>{{error_message}}</p>
        </div>
    {% endif %}
    </div>
    </div>
</div>
    <script>
        function submit_form(url){
            document.form1.action = url;
            document.form1.submit();
        }
    </script>

<div class="col-md-6">
  <div align="right" >
    <table cellspacing="10" cellpadding="10" class="table table-hover" >
      <form name="form1"  class="form-horizontal"  method="GET">
        {% csrf_token %}
        <tr>
            <button type="button" name="request_server" class="btn btn-primary" onclick="submit_form('{% url 'create_instance'%}')" >Request server</button>
            <span class="left-space"> </span>
            <button type="button" name="extend_expiry" class="btn btn-primary" onclick="submit_form('{% url 'extend_expiry'%}')">Extend Expiry</button>
            <span class="left-space"> </span>
            <button type="button" name="refresh" class="btn btn-primary" onclick="submit_form('{% url 'manage_instances' %}')">Refresh</button>
        </tr>
      </form>
    </table>
  </div>
</div>
</div>
  <br>
  <form name="instances_form" method="post" action="">
  {% csrf_token %}
  <input type="hidden" id="mainvalue" name="mainvalue" value="0">
  <input type="hidden" id="option_selected" name="option_selected" value="0">
  {% if instances %}
  <table class="table table-striped table-bordered table-hover display" id="mytable" cellspacing="0" width="100%">
    <thead class="pbr">
      <tr>
        <td><label>#</label></td>
        <td><label>Name</label></td>
        <td><label>Image</label></td>
        <td><label>Flavor</label></td>
        <td><label>IP</label></td>
        <td><label>Status</label></td>
        <td><label>Action</label></td>
      </tr>
    </thead>
    <tbody>
      {% for instance in instances %}
      <tr >
        <td>{{forloop.counter}}</td>
        <td>{{instance.instance_name}}</td>
        <td>{{instance.instance_image.image_name}}</td>
        <td>{{instance.instance_flavor.flavor_name}}</td>
        <td>
          {{ instance.instance_ips | join:", " }}
        </td>
        <td>{{instance.instance_status}}</td>

        <script type="text/javascript">
          function getValue(selectBox){

            if(this.value == "choose action")
                return;

            if( (selectBox.options[selectBox.selectedIndex].text) == "Delete"){
                 if (!confirm("Are you sure to delete instance ?")) {
                    selectBox.selectedIndex = 0;
                    return;
                 }
             }

            if((selectBox.options[selectBox.selectedIndex].text) == "Console"){
              window.open(selectBox.value, '_blank');
              selectBox.selectedIndex = 0;
              return;
            }

            document.instances_form.action = selectBox.value;
            document.instances_form.method = "get";
            document.instances_form.submit();
          }

        </script>
        <td>

          <select id="actions" onChange="getValue(this);" >
              <option selected value="choose action">choose action</option>
              {% if instance.instance_status == 'ACTIVE' %}
              <option value="{% url 'instance_action' instance_id=instance.instance_id action='console' %}">Console</option>
              <option value="{% url 'instance_action' instance_id=instance.instance_id action='stop' %}">Stop</option>
              {% else %}
              <option value="{% url 'instance_action' instance_id=instance.instance_id action='start' %}">Start</option>
              {% endif %}
              <option value="{% url 'instance_action' instance_id=instance.instance_id action='delete' %}">Delete</option>
              <!--<option value="{% url 'instance_action' instance_id=instance.instance_id action='modify' %}">Modify</option>-->
          </select>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    $('#mytable').dataTable();
  </script>
  {% else %}
  There is no VM in the selected project.
  {% endif %}
  <br/>
  </form>
</div>


{% endblock %}